/* hide settings navbar icon when on settings page */
.logo-switches #settings {
    display: none;
}

.setblock {
    height: 100%;
    width: 100%;
    display: block;
    border: 2px solid var(--tertiary);
    border-top: none;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    transition: 200ms;
    user-select: none;
}

.setblock:nth-child(1) {
    border-top: 2px solid var(--tertiary);
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
}

.setblock:last-child {
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.setblock:hover {
    background-color: var(--theme);
}

.switch {
    position: relative;
    width: 56px;
    height: 28px;
    float: right;
    margin-top: 1px;
}

.switch .inpcheck {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 2px var(--secondary);
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 4px;
    background-color: var(--secondary);
    border-radius: 50%;
    transition: .4s;
}

.inpcheck:checked+.slider {
    background-color: var(--hoverback);
    box-shadow: 0 0 0 2px var(--hoverback);
}

.inpcheck:checked+.slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
    background-color: var(--theme);
}

/* handle bug when restoring settings from localstorage */
.no-transition .slider:before {
    transition: none !important;
}