{{ define "customLoad" }}
<link crossorigin="anonymous" rel="preload" as="fetch" href="../index.json">
{{- $css := (resources.Get "css/search.css") | resources.Minify }}
<link crossorigin="anonymous" href="{{ $css.RelPermalink }}" rel="preload stylesheet" as="style">
{{- $fastsearch := resources.Get "js/fastsearch.js" | resources.Minify }}
{{- $fusejs := resources.Get "js/fuse.basic.min.js" }}
{{- $search := (slice $fusejs $fastsearch ) | resources.Concat "assets/js/search.js" }}
<script defer crossorigin="anonymous" src="{{ $search.RelPermalink }}"></script>
{{ end }}

{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
    {{ .Description }}
    </div>
    {{- end }}
</header>

<div id="searchbox">
    <input id="searchInput" autofocus placeholder="Search for projects, articles, or topics..." aria-label="Search" type="search" autocomplete="off" maxlength="64">
    <ul id="searchResults" aria-label="Search results"></ul>
</div>

{{- end }}{{/* end main */}}
