.nav {
    background: var(--theme);
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    border: 1px solid var(--tertiary);
    border-radius: var(--radius);
    margin-top: var(--gap);
    user-select: none;
}

@media screen and (max-width: 1120px) {
    .nav {
        border-width: 0;
        box-shadow: 0 1px var(--tertiary);
        border-radius: 0;
        margin: 0;
        max-width: none;
    }
}

body:not(.list) .nav {
    background: var(--code-bg);
}

.nav a {
    display: block;
    color: var(--primary);
}

.logo {
    display: flex;
    margin: auto 13px;
    justify-content: space-between;
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
    padding-left: 9px;
}

.logo a:hover {
    opacity: .6;
}

.logo a img,
.logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
}

.logo a img {
    border-radius: 6px;
    margin-inline-end: 8px;
}

.logo-switches {
    display: inline-flex;
}

.logo-switches a {
    padding: 0 7px;
}